<div class="styled-select">
   <select>
      <option>Red Line</option>
      <option>Green Line</option>
      <option>Green Line</option>
   </select>

   <select>
      <option>Here is the first option</option>
      <option>The second option</option>
   </select>

</div>

